/* 
  ==============================
  VARIABLES
  ==============================
*/
:root {
  --yt-bg-black: #151515;
}

/* 
  ==============================
  GLOBAL STYLES
  ==============================
*/

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  color: white;
  background-color: var(--yt-bg-black);
}

img {
  height: 24px;
}

img:hover {
  cursor: pointer;
}

b {
  font-weight: bold;
}

/* 
  ==============================
  NAVBAR
  ==============================
*/

nav {
  width: 100%;
  height: 5%;
  min-height: 56px;
  background-color: #191919;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navigation {
  display: flex;
  justify-content: space-between;
  width: 16%;
  margin-left: 2%;
}

#search,
#account-actions {
  display: flex;
  align-items: center;
}

#search {
  height: 100%;
  width: 30%;
}

#search-wrapper {
  height: 80%;
  width: 100%;
  background-color: #262626;
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-items: center;
  align-items: center;
}

#search-bar {
  border: none;
  background-color: black;
  color: white;
  width: 100%;
  height: 90%;
  font-size: 18px;
  font-weight: 400;
}

#search-bar:focus {
  outline: none;
  border: 1px solid #0051ca;
}

#account-actions {
  margin-right: 2%;
  width: 15%;
  justify-content: space-between;
}

#user-profile-image {
  border-radius: 50%;
}

/* 
  ==============================
  CONTENT
  ==============================
*/

#content {
  background-color: var(--yt-bg-black);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

#content-wrapper {
  height: 100%;
  width: 95%;
  max-width: 1500px;
}

/* 
  ==============================
  CONTENT - RECOMMENDATIONS
  ==============================
*/

aside {
  background-color: var(--yt-bg-black);
  float: right;
  height: 100%;
  width: 22%;
}

.single-recommendation {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.recommendation-image {
  height: 80%;
}

.recommendation-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.recommendation-info > p {
  font-size: 0.8rem;
}

.recommendation-title {
  font-size: 1rem;
}

/* 
  ==============================
  CONTENT - VIDEO AREA
  ==============================
*/

#video {
  background-color: var(--yt-bg-black);
  min-height: 500px;
  width: 78%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 66%;
}

#video-info {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#video-data {
  height: 10%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.315);
}

#descriptive-data {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#descriptive-title {
  font-size: 1.25rem;
}

#descriptive-numbers {
  font-size: 0.9rem;
}

#social-data {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  font-size: 0.9rem;
}

.likes,
.dislikes,
.share,
.save,
.more-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#video-description {
  padding-top: 10px;
  width: 100%;
}

#broadcaster-info {
  display: flex;
  justify-content: space-between;
}

.info-container {
  width: 40%;
  display: flex;
}

.info-container > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.info-container-text {
  width: auto;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 0.8rem;
}

.subscribe-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#subscribe-button {
  background-color: red;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 2px;
  font-weight: 500;
}

#subscribe-button:hover {
  cursor: pointer;
}

#main-description-text {
  margin-top: 10px;
  font-size: 0.9rem;
}

#show-more-trigger {
  font-size: 0.9rem;
  text-align: center;
}

#show-more-trigger:hover {
  cursor: pointer;
}
